body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:11px;
  top:76px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:140px;
  top:0px;
  visibility:hidden;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:132px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:132px;
}
#u4 {
  position:absolute;
  left:2px;
  top:58px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:30px;
  width:40px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5_input {
  font-family:'应用字体';
}
#u6 {
  position:absolute;
  left:104px;
  top:26px;
  width:36px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:21px;
  top:26px;
  width:36px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:10px;
  top:65px;
  width:140px;
  height:67px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:67px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:65px;
  width:90px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:100px;
  width:90px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:98px;
  width:109px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:20px;
  top:63px;
  width:109px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:133px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:133px;
}
#u18 {
  position:absolute;
  left:2px;
  top:58px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:8px;
  width:120px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:48px;
  width:280px;
  height:72px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:72px;
}
#u22 {
  position:absolute;
  left:2px;
  top:28px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:224px;
  top:9px;
  width:66px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:70px;
  top:48px;
  width:220px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:104px;
  width:32px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:10px;
  top:15px;
  width:32px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:7px;
  top:53px;
  width:55px;
  height:64px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:64px;
}
#u31 {
  position:absolute;
  left:2px;
  top:24px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
}
#u33 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:76px;
  width:11px;
  height:133px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:133px;
}
#u35 {
  position:absolute;
  left:2px;
  top:58px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:309px;
  top:76px;
  width:11px;
  height:133px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:133px;
}
#u37 {
  position:absolute;
  left:2px;
  top:58px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:250px;
  width:100px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:209px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:359px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:359px;
}
#u42 {
  position:absolute;
  left:2px;
  top:172px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:31px;
  top:40px;
  width:90px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:43px;
  width:32px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:200px;
  top:21px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:3px;
  top:22px;
  width:54px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u50 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:530px;
  width:70px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:80px;
  top:530px;
  width:70px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:170px;
  top:530px;
  width:70px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:250px;
  top:530px;
  width:70px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:126px;
  top:416px;
  width:87px;
  height:74px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
}
#u56 {
  position:absolute;
  left:2px;
  top:29px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:135px;
  top:405px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#CC0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:69px;
  width:320px;
  height:430px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u61 {
  position:absolute;
  left:104px;
  top:240px;
  visibility:hidden;
}
#u61_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:105px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:105px;
}
#u63 {
  position:absolute;
  left:2px;
  top:44px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:76px;
  width:113px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:16px;
  top:80px;
  width:80px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u61_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u61_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:105px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:105px;
}
#u69 {
  position:absolute;
  left:2px;
  top:44px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:76px;
  width:113px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:12px;
  top:80px;
  width:91px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
