body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:63px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:130px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:10px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:130px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:10px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:130px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:10px;
  top:0px;
  width:80px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:0px;
  top:94px;
  width:320px;
  height:473px;
  overflow:hidden;
  touch-action:none;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:473px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:-50px;
  width:320px;
  height:2890px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2890px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:50px;
  width:315px;
  height:2843px;
}
.u21 {
  position:absolute;
  left:5px;
  top:5px;
  width:152px;
  height:130px;
}
.u21_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:162px;
  height:140px;
}
.u22 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23 {
  position:absolute;
  left:31px;
  top:12px;
  width:100px;
  height:117px;
}
.u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:117px;
}
.u24 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u25 {
  position:absolute;
  left:5px;
  top:5px;
  width:65px;
  height:20px;
}
.u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
.u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
.u27 {
  position:absolute;
  left:5px;
  top:25px;
  width:55px;
  height:20px;
}
.u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
.u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
.u29 {
  position:absolute;
  left:5px;
  top:139px;
  width:152px;
  height:18px;
}
.u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
.u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
.u31 {
  position:absolute;
  left:13px;
  top:31px;
  width:40px;
  height:10px;
}
.u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
.u31_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
.u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
.u32 {
  position:absolute;
  left:5px;
  top:0px;
  width:152px;
  height:151px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:48px;
  top:1px;
  width:32px;
  height:46px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:15px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:138px;
  top:4px;
  width:53px;
  height:16px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:82px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:174px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  visibility:hidden;
  white-space:nowrap;
}
#u33_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:48px;
  top:1px;
  width:32px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u43 {
  position:absolute;
  left:2px;
  top:15px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:138px;
  top:4px;
  width:53px;
  height:16px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:82px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:174px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  visibility:hidden;
  white-space:nowrap;
}
#u33_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:39px;
  top:3px;
  width:42px;
  height:42px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:138px;
  top:4px;
  width:53px;
  height:16px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:82px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:174px;
  top:26px;
  width:92px;
  height:16px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  visibility:hidden;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:275px;
  top:402px;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u65 {
  position:absolute;
  left:0px;
  top:351px;
  visibility:hidden;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u67 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:33px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:64px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:96px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:129px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:159px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:193px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:225px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:257px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:288px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:17px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:49px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:81px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:112px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  position:absolute;
  left:144px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:176px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84 {
  position:absolute;
  left:209px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85 {
  position:absolute;
  left:241px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  position:absolute;
  left:273px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:49px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u88 {
  position:absolute;
  left:80px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:112px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  position:absolute;
  left:144px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  position:absolute;
  left:177px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:209px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  position:absolute;
  left:240px;
  top:119px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  position:absolute;
  left:113px;
  top:172px;
  width:46px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:159px;
  top:172px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  position:absolute;
  left:199px;
  top:172px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:280px;
  top:119px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:2px;
  top:172px;
  width:37px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  position:absolute;
  left:245px;
  top:172px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u65_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u101 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  position:absolute;
  left:33px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:64px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:96px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:129px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:159px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  position:absolute;
  left:193px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:225px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  position:absolute;
  left:257px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  position:absolute;
  left:288px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:11px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:49px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  position:absolute;
  left:88px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  position:absolute;
  left:126px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:166px;
  top:65px;
  width:28px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  position:absolute;
  left:204px;
  top:65px;
  width:27px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:241px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  position:absolute;
  left:280px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:55px;
  top:119px;
  width:48px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  position:absolute;
  left:110px;
  top:119px;
  width:46px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  position:absolute;
  left:164px;
  top:120px;
  width:45px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  position:absolute;
  left:217px;
  top:119px;
  width:48px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:113px;
  top:172px;
  width:46px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  position:absolute;
  left:162px;
  top:172px;
  width:36px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:204px;
  top:172px;
  width:32px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:280px;
  top:119px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:245px;
  top:172px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  position:absolute;
  left:5px;
  top:119px;
  width:36px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  position:absolute;
  left:0px;
  top:172px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u65_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u132 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  position:absolute;
  left:33px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  position:absolute;
  left:64px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  position:absolute;
  left:96px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:129px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:159px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  position:absolute;
  left:193px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  position:absolute;
  left:225px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  position:absolute;
  left:257px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  position:absolute;
  left:288px;
  top:10px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:11px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:49px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  position:absolute;
  left:88px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:126px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  position:absolute;
  left:166px;
  top:65px;
  width:28px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148 {
  position:absolute;
  left:204px;
  top:65px;
  width:27px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u149 {
  position:absolute;
  left:241px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150 {
  position:absolute;
  left:280px;
  top:65px;
  width:30px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  position:absolute;
  left:55px;
  top:119px;
  width:48px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u152 {
  position:absolute;
  left:110px;
  top:119px;
  width:46px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  position:absolute;
  left:164px;
  top:120px;
  width:45px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154 {
  position:absolute;
  left:217px;
  top:119px;
  width:48px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u155 {
  position:absolute;
  left:113px;
  top:172px;
  width:46px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u156 {
  position:absolute;
  left:162px;
  top:172px;
  width:36px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  position:absolute;
  left:204px;
  top:172px;
  width:32px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u158 {
  position:absolute;
  left:245px;
  top:172px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:280px;
  top:119px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  position:absolute;
  left:3px;
  top:119px;
  width:38px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161 {
  position:absolute;
  left:0px;
  top:172px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u162 {
  position:absolute;
  left:63px;
  top:31px;
  width:192px;
  height:25px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u162_input {
  font-family:'应用字体';
}
